
<html>
	<head>
		<title>Credit Risk Classifier</title>
	
		<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="js/modernizr.js"></script>

	</head>
	<body>
		<center><h1 style="font-size : 40px"> Credit Risk Classifier</h1></center>
		<form class="cd-form floating-labels" action = "http://localhost:5000/uploader" method = "POST">
			<p>label1 <input type = "text" name = "label1" /></p>
			<p>label2 <input type = "text" name = "label2" /></p>
			<p>label3 <input type = "text" name = "label3" /></p>
			<p>label4 <input type ="text" name = "label4" /></p>
			<p>label5 <input type = "text" name = "label5" /></p>
			<p>label6 <input type = "text" name = "label6" /></p>
			<p>label7 <input type = "text" name = "label7" /></p>
			<p>label8 <input type ="text" name = "label8" /></p>
			<p>label9 <input type = "text" name = "label9" /></p>
			<p>label10 <input type = "text" name = "label10" /></p>
			<p>label11 <input type = "text" name = "label11" /></p>
			<p>label12 <input type ="text" name = "label12" /></p>
			<p>label13 <input type = "text" name = "label13" /></p>
			<p>label14 <input type = "text" name = "label14" /></p>
			<p>label15 <input type = "text" name = "label15" /></p>
			<p>label16 <input type ="text" name = "label16" /></p>
			<p>label17 <input type = "text" name = "label17" /></p>
			<p>label18<input type = "text" name = "label18" /></p>
			<p>label19 <input type = "text" name = "label19" /></p>
			<p>label20 <input type ="text" name = "label20" /></p>
			<p><input type = "submit" value = "submit" /></p>
	 </form>
	</body>
</html>
